<p id="notice"><%= notice %></p>

<div class="h1 text-primary">Blogs</div>
<div class="container">
  <% @blogs.each do |blog| %>
    <%= link_to blog.title, blog, class: "h1 text-decoration-bone" %>
    <div>Published at:</div>
    <%= blog.published_at %>
    <div>Content:</div>
    <%= blog.content %>
    <div><%= link_to "View", blog %></div>
  <% end %>
</div>

<br>
<% if user_signed_in? %>
  <%= link_to "New Blog", new_blog_path %>
<% end %>
